:root {
    --header: #414042;
    --accent: #98d5d5;
    --h2-color: #334f68;
    --p-color: #333945;
    --body-background: #ffffff;
    --image-opacity: 1;
    --link-hover: #f1f1e5;
}

body {
    background-color: var(--body-background);
    overflow-x: hidden;
}

h1, h2, h3, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--header);
    width: 100%;
    height: fit-content;
    align-items: center;
    margin-bottom: 0px;
}

h1 {
    background-color: var(--accent);
    color: var(--header);
    height: fit-content;
    text-align: end;
    width: 30%;
    max-width: 400px;
    padding: 12px;
}

ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin-right: 5%;
}

a {
    color: var(--accent);
    padding: 0px 10px;
}

a:hover{
    text-decoration: none;
    color: var(--link-hover);
    border-color: var(--link-hover);
}

li {
    margin: 0px 10px;
    border-bottom: 4px solid var(--accent);
}

.cover-image {
    display: flex;
    flex-direction: row;
    margin: 0px;
    height: 200px; 
    width: 100%;
    /* used the github link because it would not work with relative paths */
    background-image: url("https://awoelf.github.io/unit2-challenge/assets/images/cover-image.jpg");
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    justify-content: flex-end;   
}

.cover-image h2 {
    width: fit-content;
    text-align: end;
    background-color: var(--accent);
    color: var(--header);
    padding: 10px 15px;
    margin: 25px 70px;
}

.content-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    max-width: 75%;
}

.content-box h2 {
    color: var(--h2-color);
    font-size: 250%;
    width: 200px;
    text-align: right;
}

.content {
    flex-direction: column;
    border-left: 4px solid var(--h2-color);
    margin: 15px;
    padding: 10px 25px;
    justify-content: space-between;
    width: 100%;
}

.content p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: var(--p-color);
    font-size: 16px;
    margin: 0px;
}

.image {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 2% 0px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border: 8px solid var(--accent); 
    align-items: flex-end;
    justify-content: flex-start; 
    transition: 0.5s ease;
    background-blend-mode: overlay;
    background-color: #0b0c2462;
}

.image:hover {
    /* background-blend-mode: normal; */
    background-color: #0b0c2400;
}

.image-titlecard {
    margin: 0px 0px 30px 0px;
    color: var(--h2-color);
    background-color: var(--accent);
    height: fit-content;
    width: 205px;
    text-align: right;
    padding: 15px 5px;
    word-wrap: break-word;
}

.image-titlecard h3 {
    margin: 0px;
    color: var(--h2-color);
    width: fit-content;
    text-align: left;
}

.image-titlecard p {
    margin: 0px;
    font-size: 14px;
    text-align: left;
}

.small-image-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-image {
    margin: 0px;
    width: 100%;
    height: 200px;
}

.return-button {
    display: flex;
    flex-direction: row-reverse;
}

.return-button a {
    color: var(--h2-color);
}

.return-button a:hover {
    color: var(--accent);
}

#contact-me ul {
    justify-content: space-evenly;
}

#contact-me a {
    color: var(--p-color);
}

#contact-me a:hover {
    color: var(--accent);
}

#contact-me li {
    border-color: var(--h2-color);
}

#app-project {
    background-image: url("https://awoelf.github.io/unit2-challenge/assets/images/app-image.jpg");
}

#calculator-project {
    background-image: url("https://awoelf.github.io/unit2-challenge/assets/images/numbers-image.jpg");
}

#weather-project {
    background-image: url("https://awoelf.github.io/unit2-challenge/assets/images/weather-image.jpg");
}

#box-link {
    padding: 0px;
    width: 49%;
}

@media screen and (max-width: 992px) {
    h1 {
        min-width: 200px;
    }
    
    .small-image-box {
        flex-direction: column;
    }

    .image-titlecard {
        min-width: 200px;        
    }

    .image {
        margin-bottom: 0px;
    }

    .cover-image {
        align-items: center;
    }

    .cover-image h2 {
        text-align: center;
        margin: auto;

    }
    .content-box {
        margin-left: 0;
        max-width: 90%;
    }

    .content-box h2 {
        font-size: 200%;
        width: 150px;
    }

    #box-link {
        width: 100%;
        margin-top: 15px;
    }

    #contact-me h2 {
        width: fit-content;
        text-align: center;
        margin: 5px 0px;
    }

    #contact-me ul, ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 10px 0px;
    }

    #contact-me ul, li {
        justify-content: center;
        padding: 0px;
    }

    #contact-me.content-box {
        flex-direction: column;
        align-items: center;
        width: fit-content;
        padding: 0px;
        margin: 5px auto;
    }

    #contact-me.content {
        width: 60%;
        margin: 0px;
        padding: 0px;
        border-left: 0px;
        border-top: 4px solid var(--h2-color);
    }
}

@media screen and (max-width: 668px) {
    .content-box {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5px;
    }

    .content-box h2 {
        text-align: left;
        margin-left: 5%;
    }

    .content {
        padding-right: 0%;
        margin-right: 0%;
        margin-top: 2px;
    }
}
 
